@import url(estilo.css);


body {text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:13px; background:#f7f7f7;}
h1, h2, h3, h4, h5, h6, dt, dd {margin:0; padding:0;}

a:link, a:visited {color: #000; text-decoration: none;}

a:hover {color: #000; text-decoration: underline;}




#folha {width: 990px; margin:0 auto; text-align:left; background: url(../img/folha-topo.jpg) no-repeat;}

#logo {
	background: url(../img/logo.jpg) no-repeat;
	height: 147px;
	width: 194px;
	float:left;
	margin-top:5px;
}

#logo h1 {text-indent:-7777777px;}

#logo h1 a {height:147px; display:block;}

#cabecalho {padding-top: 15px;	padding-left: 25px;}

#superbanner {
	width: 728px;
	float: left;
	margin-left: 22px;
	color: #999999;
	float:left;
}

#superbanner h3, .moduletable_pub-ar01 h3 {color: #999; margin-bottom:3px; float:left;	font-size: 11px; font-weight: normal;}
.moduletable_pub-ar01 h3 {float:right;}
#superbanner h4 {margin-bottom:3px; float:right; font-size: 11px; font-weight: normal;}
#conteudo {
	clear: left;
	background: url(../img/folha-espiral.jpg) repeat-y;
	padding:7px 15px 0 30px;
	min-height:900px;

}

#busca {
	float: left;
	width: 613px;
}

#cse-search-box {margin-top:17px;}
#cse-search-box .campo {height:25px; font-size:16px; border: 1px solid #dfdfdf; background: url(../img/bt-bg.jpg) repeat-x; width:480px; }
#cse-search-box .botao, .botao1 {height:28px; background: #091532; color: #fff; border:1px solid #1E3262; font-weight:bold;}

#contato  {
	width: 115px;
	float: left;
	margin-top:7px;
}
#contato ul {list-style-type:none; text-shadow: #dfdfdf 1px 1px 1px; font-size:14px; margin:0; padding:0 0 0 20px; border-left:1px solid #dfdfdf;}
#contato li a:link, #contato li a:visited {}



#rss .rss {
	background: url(../img/ico-rss.gif) no-repeat left;
	height: 46px;
	width: 42px;
	text-indent: 40px;
	line-height: 35px;
	margin-left:7px;
}

#rss a:link, #rss a:visited {font-size:16px; color: #999; text-decoration:none; font-weight:bold;}
#rss a:hover {text-decoration:underline;}




/*********************************************/


#hum {float: left; width: 154px;}
#hum .ajuste {}


/*** menu acordion  ****/
.AccordionMulti dt {cursor: pointer;}
.AccordionMulti dt.nac_stretchtoggle {background:transparent url(../img/setas.gif) no-repeat scroll 100% 0%;}
.AccordionMulti dt.nac_stretchtoggle:hover {background-position: 100% 100%;}
/*** menu acordion  ****/

#menu-internas {margin:0 0 10px 0;}

#menu {color: #403d3c; font-family: 'Helvetica', Arial, Sans-Serif; font-weight: bold; text-shadow: #dfdfdf 1px 1px 1px; margin:0 0 10px 0;}
#menu {border:1px solid #dfdfdf;  padding:5px; width:135px; background: url(../img/box-bg.jpg) repeat-y; float:left;}

#bsky {width:125px; float:right; margin-right:5px;}
#bsky h3 {color: #777; margin-bottom:3px; font-size: 11px; font-weight: normal;}


.moduletable-menu1 dt {color: #363636; text-indent:12px; font-size:14px; border-bottom:1px solid #dfdfdf; line-height:25px;}
.moduletable-menu1 dt:hover {text-decoration:underline;}
.moduletable-menu1 dl {margin:0; padding:0;}
.moduletable-menu1 ul {margin-left:16px; margin-top:4px; padding:0; list-style:none;}
.moduletable-menu1 ul li a:link, .moduletable-menu1 ul li a:visited  {color: #363636; text-decoration:none; line-height:16px; font-size:12px; font-weight:normal;}
.moduletable-menu1 ul li a:hover {text-decoration:underline;}
.moduletable-menu1 h3 {font-size: 17px; color: #000;}


.moduletable-menu2 ul {margin:0 0 17px 0; padding:0; list-style:none;}
.moduletable-menu2 ul li a:link, .moduletable-menu2 ul li a:visited {color: #363636; text-indent:12px; font-size:14px; border-bottom:1px solid #dfdfdf; line-height:25px; height:25px; display:block; text-decoration:none;}
.moduletable-menu2 ul li a:hover {text-decoration:underline;}

#sky1 {margin-top:7px; border:1px solid #dfdfdf; padding:5px 5px 14px 5px; width:135px;}
#sky1 h3 {color: #777; margin-bottom:3px; font-size: 11px; font-weight: normal;}
#sky1 .banner {margin-left:7px;}


/*********************************************/


/*#dois {float: left; width: 775px; border:1px solid #dfdfdf; background:#f7f7f7;}*/
#dois {float: left; width: 944px;}
#dois .ajuste {}


.caminho {padding:3px; border:1px solid #dfdfdf; font-size:11px; margin-left:5px; margin-bottom:5px; width:925px; display:block;}
#caminho a:link, #caminho a:visited {font-size:11px;}

#centro {
	float: left;
	width: 624px;
	margin-left:5px;
	margin-right:7px;
	border: 1px solid #dfdfdf;
}


#centro {
	_width: 615px;
	_margin-left:5px;
}



	#centro .ajuste {padding:14px;}

	#tab1 {margin-bottom:7px;}

	.moduletable_tab2a {width:235px; float:left;}
	.moduletable_tab2b {width:235px; float:left; margin-left:7px;}



	.moduletable_aba1 ol {margin:0; padding:0; list-style:none;}
	.moduletable_aba1 img {float:left; border:1px solid #fff; border-bottom:6px solid #fff; width:47px; height:47px; margin-right:4px; margin-top:4px; margin-left:4px }
	.moduletable_aba1 a:link, .moduletable_aba1 a:visited {font-size:12px; }
	.moduletable_aba1 .intro {display:block;}
	.moduletable_aba1 .titulo {padding-top:4px; font-weight:bold;}
	
	
	/* com imagem de fundo
	.moduletable_aba1 li {height:67px; width:220px; padding-top:3px; background: url(../img/boxmini-bg.jpg) repeat-x; border-bottom:1px solid #DBE7E8;}
	*/

	.moduletable_aba1 li {border-bottom:1px solid #dfdfdf; height:70px; width:220px; padding-top:3px;}
	.moduletable_aba1 .linha0 {background: #f7f7f7;}



	.ucd_introtext {font-size:11px;}
	.moduletable_aba2 {font-size:14px;}
	.moduletable_aba2 ul {margin:0; padding:0px; height:296px; list-style:none;}
	.nr {color: #999; font-size:18px; float:left; padding-right:5px; padding-left:3px;}
	.moduletable_aba2 li {padding-top:4px; height:35px; border-bottom:1px solid #dfdfdf}
	.moduletable_aba2 .linha0 {background:#f7f7f7;}

/*	.moduletable_tab3 {border:1px solid #dfdfdf;  padding:5px; background: url(../img/box-bg.jpg) repeat-y; height:340px;} /* 3 blocos */
	.moduletable_tab3 {border:1px solid #dfdfdf;  padding:5px; background: url(../img/box-bg.jpg) repeat-y; height:240px; margin-top:7px; margin-bottom:10px;} /* 2 blocos */
	.moduletable_tab3 h3 {text-indent:14px; font-size:16px; text-shadow: #dfdfdf 1px 1px 1px; border-bottom:1px solid #dfdfdf; line-height:25px;}


	.moduletable_tab3a {width:228px; float:right; height:100px; border-bottom:1px solid #dfdfdf;  background:#f7f7f7;}
	.moduletable_tab3a h3 {text-indent:10px; font-size:14px; border-bottom:none; line-height:24px; margin-top:5px; color:#000;}
	.moduletable_tab3a ul {margin:0; padding:0 0 0 30px;}
	/*.moduletable_tab3a a:link, .moduletable_tab3a a:visited {color:#414141; font-weight:bold;}*/
	.moduletable_tab3a a:link, .moduletable_tab3a a:visited {color:#000;}

	.moduletable_tab3b {width:228px; float:right; height:100px; border-bottom:1px solid #dfdfdf;}
	.moduletable_tab3b h3 {text-indent:10px; font-size:14px; border:none; line-height:24px; margin-top:5px; color:#000;}
	.moduletable_tab3b ul {margin:0; padding:0 0 0 30px;}
	.moduletable_tab3b a:link, .moduletable_tab3b a:visited {color:#000;}


	.moduletable_nuvem {clear:left; padding:5px; margin-top:17px; *margin-top:-30px;}





#direita {
	float: left;
	width: 300px;
	background: url(../img/banner-apoio.png) no-repeat;
	}

	.moduletable_pub-ar01 {margin:0 0 10px 0; }

	.moduletable_login {border:1px solid #dfdfdf; padding:5px;  margin:0 0 10px 0; text-align:left; background: url(../img/box-bg.jpg) repeat-y;}
	.moduletable_login h3 {text-indent:14px; font-size:16px; text-shadow: #dfdfdf 1px 1px 1px; border-bottom:1px solid #dfdfdf; line-height:25px;}
	.moduletable_login form {margin-left:15px; padding:7px;}
	.moduletable_login .button_login {height:28px; background: #091532; color: #fff; border:1px solid #1E3262; font-weight:bold; margin:7px 0 7px 0;}
	.moduletable_login a:link, .mod_login_login a:visited {color: #091532; font-weight:bold; display:block;}
	.inputbox_login {height:20px; border: 1px solid #dfdfdf; margin-top:3px; background: url(../img/bt-bg.jpg) repeat-x; width:150px; }
	#mod_loginform_login {background: url(../img/box-login.gif) no-repeat right bottom; height:160px; margin-bottom:-5px;}


	.moduletable_tabmail {margin:0 0 7px 0;}

	.moduletable_mail .spam {background: url(img/ico-mail-spam.png) no-repeat center center;}
	.moduletable_mail .espaco {background: url(img/ico-mail-espaco.png) no-repeat center center;}
	.moduletable_mail .busca {background: url(img/ico-mail-busca.png) no-repeat center center;}

	.moduletable_publique {background: #001122; margin:0 0 10px 0;}
	.moduletable_publique h3 {color: #FFFFFF; padding-top: 15px; padding-left: 15px; font-size:16px; font-weight:bold;}
	.moduletable_publique .conteudo {padding:0 17px 4px 17px; color: #99BDE2; font-size:14px;}
	.moduletable_publique a:link, .moduletable_publique a:visited {font-size:12px; background: #014B94; padding:4px; color:#fff; width:90px;}
	.moduletable_publique a:hover {background: #B51A1B; text-decoration:none;}

	.moduletable_gf {margin:7px 0 7px 0;}




/*** rodape ***/


#rodape {clear:both; width: 990px; height:123px; background: url(../img/folha-rodape.jpg) no-repeat; padding-top:40px;}

