[main]
Description=VPN USPNet
Host=200.144.187.33
AuthType=1
GroupName=USPnet
GroupPwd=
enc_GroupPwd=2082D66E8966F63EF86A697998C290929B04C38BA5596CED8EFE08EA61ACF3F3249FAFF60003C42ECBA860863A85499C8B3CB475FC9DEC321EAE1F706471D6E8C52883B6AC6F747242AEF35DCCF06FD2
EnableISPConnect=0
ISPConnectType=0
ISPConnect=CCE
ISPPhonebook=C:\Documents and Settings\All Users\Dados de aplicativos\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
