._49tg{position:relative}._49th{display:inline;padding-right:5px;position:relative}._49ti{display:inline;padding-right:3px;position:relative}._49tj{top:2px}._49tk{top:3px}._49tl{top:2px}._49tm{color:#666;display:inline;font-size:10px;position:relative}._5hww ._49tm{color:#365899;font-size:11px}
.create_album_form textarea,.create_album_form .inputtext{width:380px}

#bootloader_6sai_{height:42px;}.bootloader_6sai_{display:block!important;}